.rectangle {
  background-color: #8a2be2;
  width: 100px;
  height: 100px;
}

.text {
  font-size: 18px;
  line-height: 24px;
}

.text::first-letter {
  color: #008000;
  font-size: 24px;
}

.new {
  color: grey;
}
