.header {
  height: 50px;
  background-color: yellow;
}

.content {
  width: 80%;
  height: 500px;
  background-color: pink;
  float: left;
}

.sidebar {
  background-color: gray;
  height: 500px;
  width: 20%;
  float: left;
}

.footer {
  height: 50px;
  background-color: green;
  clear: left;
}
